*{
    margin: 5px;
    padding: 5px;
    box-sizing:border-box;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    padding:20px 8%;
    display: flex;
}
nav logo{
    width: 80px
    
}

.content h1{
    font-size: 140px;
    color: #fff;
    font-weight: 600;
}

.content a{
    text-decoration: none;
    width: 220px;
    display: flex;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 30px;
    margin-top: 40px;
}
