<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <div class="project">
        <h1>About</h1>
        <hr>
        <p>This project focuses on Car Scratch Detection, in sync with the development of 
            autonomous quality inspection systems of different types of products.    
            For example in a parking lot such detection provides  the client with the 
            assurance that their personal property will not be affected inside the lot.
        </p>
        <ul style="list-style-type:square;">
            <li>We made use of Transfer Learning, wherein we started with Mask RCNN but
                due to run complexity we shifted towards Yolov5. This being a single class detection
                problem.
            </li>
            <li>The dataset consists of 886 images, collected from various sources. 
                Annotation of such data was a bit tricky since Yolo doesn't work well with a  small bounding box.
            </li>
            <li>We started with a mAP50(average of AP i.e area under the precision recall 
                at IOU threshold 0.5)  of around 0.2 and reached 0.542. Precision and 
                Recall were 0.62 and 0.59 which shows a good trade-off.
            </li>
        </ul>
        <div class="row">
            <div class="column">
                <img src="{{ url_for('static', filename='img/results.png') }}" alt="results" style="width:100%">
            </div>
            <div class="column">
                <img src="{{ url_for('static', filename='img/val_batch0_pred.jpg') }}" alt="predictions" style="width:100%">
            </div>
        </div>
    </div>
</body>
</html>