<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Car" class='logo'>
        </nav>
        <br>
        <br>
        <div class="content">
            <h1>Car Scratch Detection</h1>
            <a href="/about">About</a>
            <a href="/predict">Predict</a>
        </div>
    </div>    
</body>
</html>